<h1>納入先</h1>
<% @customers.each do |customer| %>
  <p>
    <%= customer.name %>
    <%= link_to "詳細", product %>
    <%= link_to "編集", edit_product_path(product) %>
    <%= link_to "削除", product, method: :delete, data: { confirm: "削除しますか?" } %>
  </p>
<% end %>
<a href="products#create">登録</a>
