<input type="checkbox" id="modal-check">
<label for="modal-check" class="modal">
  <div class="modal-content">
    <p>詳細表示</p>
    <p>製品名 : <span id="order-product-name"></span></p>
    <p>納品希望日 : <span id="order-delivery-date"></span></p>
    <p>備考  : <span id="order-comment"></span></p>
  </div>
</label>
