<input type="checkbox" id="modal-check">
<label for="modal-check" class="modal-label">
  <div class="modal-content">
    <div class="small-screen">
      <div class="delivery-check">納期確認</div>
    </div>
    <div class="small-screen">
      <div class="small-title">製品名</div>
      <div id="order-product-name"></div>
    </div>
    <div class="small-screen">
      <div class="small-title">希望納期</div>
      <div id="order-delivery-date"></div>
    </div>
    <div class="small-screen">
      <div id="order-comment"></div>
    </div>
  </div>
</label>
