<input type="checkbox" id="modal-check">
<label for="modal-check" class="modal-label">
  <div class="modal-content">
    <div class="modal-detail">
      <div class="modal-title">納期確認</div>
    </div>
    <div class="modal-detail">
      <div class="modal-item">製品名</div>
      <div id="order-product-name"></div>
    </div>
    <div class="modal-detail">
      <div class="modal-item">希望納期</div>
      <div id="order-delivery-date"></div>
    </div>
    <div class="modal-detail">
      <div id="order-comment"></div>
    </div>
  </div>
</label>
