<input type="checkbox" id="modal-check">
<label for="modal-check" class="modal-label">
  <div class="modal-content">
    <p class="delivery-check">納期確認</p>
    <hr>
    <br>
    <p>製品名<span id="order-product-name"></span></p>
    <br>
    <p>希望納期<span id="order-delivery-date"></span></p>
    <br>
    <p>備考<span id="order-comment"></span></p>
  </div>
</label>
