<div class="header-flexbox">
  <div class="header-title">編集</div>
  <div class="header-button">
    <% if @order.display == true %>
      <%= link_to "戻る", root_path %>
    <% else %>
      <%= link_to "戻る", orders_path(display: "none") %>
    <% end %>
  </div>
</div>
<div class="scrollーblank"></div>
<%= render "form", button_value: "更新" %>
