.name-label {
  cursor: pointer;
  margin-left: 30px;
}

.order-name {
  font-size: 20px;
  display: block;
  width: 200px;
  padding-left: 10px;
}

#modal-check {
  display: none;
}

#modal-check:checked + .modal-label {
  display: block;
  box-sizing: border-box;
}

.modal-label {
  background-color: #5f27219d;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  width: 310px;
  height: auto;
  background-color: #f3eee9;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.modal-detail {
  display: flex;
  text-align: center;

  .modal-item {
    margin-top: 30px;
    width: 90px;
    text-align: right;
    margin-right: 20px;
    flex-shrink: 0;
    color: #772d23;
  }
}

.modal-detail #order-customer-name {
  margin-left: auto;
  margin-right: auto;
  color: #772d23;
  margin-top: 10px;
  font-size: 25px;
}

#order-product-name {
  margin-top: 30px;
  margin-right: 15px;
  text-align: left;
}

#order-delivery-date {
  margin-top: 30px;
}

#order-comment {
  margin: 30px auto 30px auto;
  padding-left: 40px;
  padding-right: 40px;
}
