@import 'ress/dist/ress.min';
@import 'flatpickr/dist/flatpickr.min';
@import 'flatpickr/dist/themes/material_blue';
@import './flexselect';
@import './modal';
@import './dropdown';
@import './show';
@import './form';
@import './login';

/* 全体 */

body {
  background-color: #f3eee9;
  position: relative;
  font-family: sans-serif;
}

/* ヘッダー */

.header-flexbox {
  background-color: #772d23;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  position: fixed;
}

.header-title {
  color: white;
  font-size: 30px;
  margin-left: 40px;
}

.header-button {
  width: 90px;
  height: 50px;
  border-radius: 50%;
  background-color: #da796d;
  line-height: 50px;
  text-align: center;
  margin-right: 10px;

  a {
    color: white;
    font-size: 20px;
    display: block;
    text-decoration: none;
    cursor: pointer;
  }
}

.scrollーblank {
  margin: 0px;
  padding-top: 60px;
}

.order {
  line-height: 30px;
}

.index-flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.border-line {
  border-top: dashed 3px#77423b;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.registration-button {
  width: 90px;
  height: 50px;
  border-radius: 50%;
  background-color: #da796d;
  line-height: 50px;
  text-align: center;
  margin: 10px;
  float: right;
  font-size: 20px;

  a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: white;
  }
}

.blank {
  width: 100%;
}
